
<div class="container">
  <div class="row">
    <div class="col-sm-1">
      
    </div>
    <div class="col-lg-10">
    
         <%= video_tag "sprocket.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video" %>
    
    </div>
    <div class="col-sm-">
      
    </div>
  </div>
  <div class="home-landing">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md">
            <h1 style="margin-top:-100px;">Boulder Bike Race</h2>
        </div>
        <div class="col-sm">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-md-8 countdown">
      <h4>Race Begins April 1, 2020</h4>
       <%= render ("layouts/countdown") %> 
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Sponsors</h3>
      <p>Sponsor image gallery</p>
    </div>
    <div class="col-md-6">
      <h3>Contest</h3>
      <p>fun contest information here</p>
    </div>
  </div>
  <div class="row info-history">
    <div class="col-md-6">
    <h3>Additional information</h3>
    <p>fun in a bun</p>
    </div>
    <div class="col-md-6">
    <h3>Race Heritage</h3>
    <p>blahblahblahblahblahblahblah</p>
    </div>
  </div>
</div>