
<div class="container" >
  <div class="row landing-parallax">
    <div class="col-sm-1">
      
    </div>
    <div class="col-lg-10">
      
      
         <%# <%= image_tag "blurredracer.jpg", class: "landing-image" %> 
      
    
    </div>
    <div class="col-sm-">
      
    </div>
  </div>
  <div class="home-landing">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-md">
            <h6 style="margin-top:-700px;color:white;">Est: 1975</h6>
            <%= image_tag("bbrlogo.png", { :style => "width:150px;height:150px;"}) %>
            <h1 style="color:white;">Boulder Bike Race</h1>

        </div>
        <div class="col-sm">
        </div>
    </div>
  </div>

  <div class="row countdown-row">
    <div class="col-sm-4">
    </div>

    <div class="col-md-4 countdown">
      <div class="card" style="width: 18rem;">
        <%= render ("layouts/countdown") %> 
        <div class="card-body">
          <h5 class="card-title">Save the date</h5>
          <p class="card-text">Make sure you are ready, there is more than enough time!</p>
        </div>
      </div>  
    </div>

    <div class="col-sm-4">
    </div>
  </div>

  <div class="row sponsors-contest parallax">
      <div class="col-md-6" style="padding-top:160px;">
        <div class="card border-light mb-3 contest-spon" style="max-width: 18rem;margin-left:35%;">
          <div class="card-header">Sponsors</div>
          <div class="card-body">
           <%= render ("layouts/sponsors") %>
          </div>
        </div>
      </div>
      <div class="col-md-6"style="padding-top:160px;padding-left:10%;">
        
        <div class="card border-light mb-3 contest-spon" style="width: 18rem;">
         <div class="card-header">Contest</div>
          <div class="card-body">
            <p class="card-text">Boring Contest info goes here</p>
              <a href="/submissions/new" class="btn btn-warning">Contest</a>
          </div>
        </div>
      
      </div>
    
  </div>

  <div class="row">
    <div class="col-md-6">
    <div class="card info-history">
      <div class="card-body">
        <h5 class="card-title">Tour Information</h5>
        <br />
        <p class="card-text">The 2018 schedule features 11 criteriums including one new venue: Janesville. You’ll find generous cash payouts (including equal payouts for Pro Men and Pro Women), hefty primes, daily winners’ jerseys, category-specific omnium leaders’ jerseys, safe courses, on-time starts, timely results, over 1,000 cartons of Nature’s Touch lowfat chocolate milk per day for recovery, and more, at this world-class series in 2018. Representing 42 U.S states and 15 countries in 2017, racers competed for more than $150,000 in cash and merchandise before an estimated 100,000 passionate spectators.
        Now is the time! You can do it, train train train then we will see you soon in the winners circle.</p>
      </div>
    </div>

    </div>
    <div class="col-md-6">
    <div class="card info-history">
      <div class="card-body">
        <h5 class="card-title">BBR Heritage</h5>
        <br />
        <p class="card-text">Tour of America’s Dairyland (ToAD) presented by KwikTrip offers high-energy cycling action featuring Pro and Amateur racers from across the nation and around the world. On most days, the races run nearly non-stop from 11:00am to 8:30pm and showcase male and female athletes from a wide range of ages and skill levels.Think cycling is a snooze? You’re wrong! The final event of each day, the Men’s Pro Race, will feature speeds exceeding 40mph! Add to that our professional announcing duo of Todd Busteed and Brad Sohner; they’ll not only thrill you with their race updates and rich color
        commentary, but will educate you on the sport of cycling…so you can understand race strategy and team dynamics. </p>
      </div>
    </div>

    </div>
  </div>
</div>

