<div class="container">
  <div class="row"style="margin-top:100px;">
    <div class="col-sm-1">
    </div>
    <div class="col-md-10 bike-photos">
        <h1 style="color:navy;">Check out these photos!</h1>
            <photos>
                <%= render ("layouts/photos") %>
            </photos> 
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
