<div class="container">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-10 bike-photos">
        <h2>Working on that map</h2>
            <photos>
                <%= render ("layouts/photos") %>
            </photos> 
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
