/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Pacifico');
 @import url('https://fonts.googleapis.com/css?family=Quicksand');
 @import url('https://fonts.googleapis.com/css?family=Cabin');

 /*--------------------------
           colors
 --------------------------*/

//  #D17B3F (peru)
//  #d1956a (brown yellow)
//  #3f230c (dark sienna)
//  #172d0c (dark jungle green)
//  #00184f (oxford blue)
//  #f7f9f9 (ghost white)
//  #383838 (gunmetal)
 /*--------------------------
           typography
 --------------------------*/

 h1, h2, h3, h4, h5, h6, p {
     
     color: #3f230c;
 }
 
p, #clockdiv {
    font-family: 'Quicksand', serif;
    font-size: 18px;
}

h2, h3, h4, h5 {
    font-family: 'Cabin', serif;
    
}

h1 , h6, .info-history h5 {
    font-family: 'Pacifico', serif;
    color: white;
}

.info-history p {
    color: rgba(255, 255, 255, 0.568);
}



  /*--------------------------
        general
 --------------------------*/
 a :hover {
    color: #D17B3F !important;
}

.btn-warning {
    color:white !important;
    background-color:#D17B3F !important;
}

.container {
text-align: center;
}

body, html {
    height: 100%;
    background-color:   #f7f9f9 !important;
}

.parallax { 
    
    background-image: url("road.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
}

/*--------------------------
           Home
 --------------------------*/

   .home-landing .col-md h1 {
       position: absolute;
       z-index: 100;
       color: white;
   }

//    .video {
//        opacity: .8;
//         position: relative;
//         top: 50%; left: 50%;
//         z-index: 1;
//         min-width: 100%;
//         min-height: 100%;
//         width: 100%;
//         height: 100%;
//         transform: translate(-50%, -50%);
//    }

.landing-parallax {
    width:1590px;
    height: 900px;
    background-image: url("blurredracer.jpg");
    opacity: 0.9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: -300px;
    margin-top: -75px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}
 

  .info-history {
      background-color:#011446;
      height: 380px;
      h5 {
          margin-top: 15px;
      }
  }


  .countdown-row {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .countdown {
      margin-top: 65px;
  }

  #clockdiv {
      background-color:lightgray;
  }

  #clockdiv .seconds {
      color: darkred;
  }


  .sponsors-contest, .info-history {
      margin-top: 100px;
      margin-bottom: 100px;
  }

  .contest-spon {
      height: 220px;
  }
  
  .sponsors-contest {
      min-height: 500px;
      margin-left: -200px;
      margin-right: -200px;
  }
  /*--------------------------
           contest
 --------------------------*/

 /*--------------------------
         photos page
 --------------------------*/
 /*--------------------------
        locations page
 --------------------------*/
 /*--------------------------
        riders page
 --------------------------*/
    .rider-map {
         height: 400px;
        width: 400px;

}
 /*--------------------------
        navigation
 --------------------------*/

 .navbar {
     background-color: #172D0C;
 }

 .nav-logo {
    color:#d1956a !important;
    margin-right: 90%;
}

  /*--------------------------
        footer
 --------------------------*/
 .footer {
     justify-content: center;
     bottom: 0px;
     margin-top: 100px;
     background-color: #f7f9f9;
     color: #6b3814;
     
 }
 .fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
    background-color: #172d0c;
}



/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat {
    background: #D17B3F;
    color: white;
}
