<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light footer">

<div class="container" style="justify-content:center;">
  <div class="row">
    <div class="col-md-3">
      <a class="navbar-brand" href="/">Boulder Bike Race</a>
      <p>Sponsors used for demonstration purposes only</p>
    </div>
    <div class="col-md-6">
      <h4>About Us</h4>
      <p>Boulder Bike Race (BBR) is the largest competitive road cycling series in the U.S. It hosts 10 straight days of racing throughout Boulder. The tour was started in 2008 and extends the legacy of multi-day bike racing that first started in Colorado in 1975.</p>
    </div>
    <div class="col-md-3">
      <h4>Connect with us</h4>
      <p><a href="#" class="fa fa-facebook"></a>
      <a href="#"class="fa fa-twitter"></a>
      <a href="#"class="fa fa-snapchat"></a></p>
    </div>
  </div>
</div>


</nav>

