<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
        border-radius: 5px;
      }
      
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  
    <div id="map"></div>

</head>

<body>
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <script>

    
      function initMap() {
    
            var myLatLng = {lat: 40.014, lng: -105.270};

            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: myLatLng
            });



                    
            $.getJSON("/riders.json", function ( data )  {

                $.each(data, function(key, data) {

                    var latLng = new google.maps.LatLng( data.latitude , data.longitude );

                    // var marker = new google.maps.Marker({
                    //     position: latLng,
                    //     map: map
                        
                    //     });
                    // });

                    var contentString = '<div id="content">' +
                    '<h2>well helllllloooo</h2>' +
                    '</div>';



                    var infowindow = new google.maps.InfoWindow ({
                      content: contentString
                    })


                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: (data.first_name + ' ' +data.last_name)
                        
                    });


                  google.maps.event.addListener (marker, 'click', function() {
                  infowindow.setContent( data.first_name +' '+ data.last_name +': '+ data.city +', '+ data.state );
                  infowindow.open(map, marker);
                  setTimeout(function () { infowindow.close(); }, 5000);

                });
                

              });
      });

      }
              
      </script>
</body>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs2tWVlXznbp6ySamqYXot3sd7wNNLuXI&callback=initMap">
    </script>
  </body>
</html>
