<div class="container">
  <div class="navigation">
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand nav-logo" href="/"><h6 style="color:#D17B3F;">BBR</h6></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:'Pacifico';color:#D17B3F;">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/"><p>Home</p></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/submissions/new"><p>Contest</p></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/riders"><p>Riders</p></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static_pages/location"><p>Location</p></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/static_pages/photos"><p>Photos</p></a>
            </div>
          </li>
    
        </ul>
      
      </div>
    </nav>
  </div>
