
  <div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-md-8">
      <style>
                .photo__gallery {
                    display:inline-block;
                    margin: 10px 10px 10px 10px;
                    border-radius: 5px;
                };
    </style> 


        <script>
                    $(function(){
                        var options = {
                            method: 'flickr.photos.search',
                            api_key: '468888e70413687db6b4ec3f7629507c',
                            sort: 'relevance',
                            tags: '#bikerace , #boulderbiketour',
                            extras: 'url_m',
                            per_page: 40,
                            format: 'json',
                            nojsoncallback: 1,
                            safe_search: 1
                        };
                        
                        $.get('http://api.flickr.com/services/rest/', options, function(response){

                            var images = $('<ul>', {'class': 'gallery' })
                                $.each(response.photos.photo, function(index, value){
                                    var image = $('<li>', {
                                        'class': 'photo__gallery'
                                    }).append($('<img>', {
                                        src: value.url_m,
                                        title: value.title,
                                        height: '300px',
                                        width: '400px'
                                    })).appendTo(images);
                                });
                                images.appendTo('photos');
                        });
                    });
        </script>


    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>

  