<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "examplelogo.png", class: "sponsor-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "examplelogo.png", class: "sponsor-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "examplelogo.png", class: "sponsor-image" %>
    </div>
  </div>
</div>

<script>
$('.carousel').carousel({
  interval: 2500
})

</script>